<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="icon" type="image/png" href="/images/message-favicon.png" />
    <title>Messages</title>
    <script>
      // Function to scroll to the bottom of the messages container
      function scrollToBottom() {
          const contentDiv = document.getElementById('messagesContainer');
          contentDiv.scrollTop = contentDiv.scrollHeight;
      }
      window.onload = scrollToBottom;
  </script>
  </head>
  <body class="relative bg-background">
    <%- include('./components/header') %>

    <div
      class="content items-left justify-left flex w-full flex-col gap-5 overflow-y-scroll px-8 pt-6 pb-32 h-full max-w-full md:max-w-[80%] lg:max-w-[40rem]"
      id="messagesContainer"
    >
    <% for(var i=0; i < messages.length; i++) {%>
      <%- include('./components/message', {name: messages[i].username, text: messages[i].message, date: messages[i].time}) %>
   <% } %>
  </div>
    <%- include('./components/button') %>
    <%- include('./components/newMessageForm') %>
    <%- include('./components/curtain') %>
  </body>
</html>
