<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <title>Messages</title>
    <script>
      // Function to scroll to the bottom of the messages container
      function scrollToBottom() {
          const contentDiv = document.getElementById('messagesContainer');
          contentDiv.scrollTop = contentDiv.scrollHeight;
      }
      window.onload = scrollToBottom;
  </script>
  </head>
  <body class="relative bg-background">
    <%- include('./components/header') %>
    <div
      class="content items-left justify-left flex h-full w-full flex-col gap-5 overflow-y-scroll px-8 pb-64 pt-6"
      id="messagesContainer"
    >
    <% for(var i=0; i < messages.length; i++) {%>
      <%- include('./components/message', {name: messages[i].user, text: messages[i].text, date: messages[i].added}) %>
   <% } %>
  </div>
    <%- include('./components/button') %>
    <%- include('./components/newMessageForm') %>
    <%- include('./components/curtain') %>
  </body>
</html>
